<!DOCTYPE html>
<html>
 
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
</head>
 
<body>
    <h1><%= title %></h1>
    <!-- /=localhost:3000 -->
    <form action="/" method="post">
        <input type="text" name="name" placeholder="name">
        <input type="text" name="age" placeholder="age">
        <input type="submit" value="送信！">
    </form>
    
</body>
 
</html>