<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
  </head>

  <body>
    <h1><%= title %></h1>

    <!-- <p>
    社員名：固定表示（DBから取得）
    <br>
    </p> -->

    <form action="/nippo_create" method="POST">

      <!-- <input type="text" name="name" placeholder="name"> -->
      <input type="hidden" id="employee_id" name="employee_id" value="">

      <p>
        出勤時刻：
        <input type="time" name="attendance_time" value="">
        <br>
    
        退勤時刻：
        <input type="time" name="leave_time" value="">
        <br>
    
        休憩時間(半角数字)：
        <input type="text" name="bleak_time" value="" size="5">h
        <br>
    
        勉強時間(半角数字)：
        <input type="text" name="study_time" value="" size="5">h
        <br>
        </p>
    
        <p>
        業務報告：
        <br>
        <textarea name="report" rows="8" cols="43" placeholder="50文字程度"></textarea>
        <br>
        </p>
    
        <p>
        気分の良さ：
        非常に良い<input type="radio" name="feel" value="verrygood">
        /良い<input type="radio" name="feel" value="good">
        /普通<input type="radio" name="feel" value="normal">
        /悪い<input type="radio" name="feel" value="bad">
        /非常に悪い<input type="radio" name="feel" value="verrybad">
        </p>
    
        <p>
        食事は3食とったか：
        はい<input type="radio" name="meal" value="yes">
        /いいえ<input type="radio" name="meal" value="no">
        </p>
    
        <p>
        十分な睡眠をとったか：
        はい<input type="radio" name="sleep" value="yes">
        /いいえ<input type="radio" name="sleep" value="no">
        </p>
    
        <!-- <p>
        相談事・心配事はあるか：
        はい<input type="radio" name="" value="yes">
        /いいえ<input type="radio" name="" value="no">
        </p> -->
    
        相談事・心配事がある場合は記入：
        <br>
    
        <textarea name="consultation" rows="8" cols="43"></textarea>
    
        <br>
    
        <input type="submit" name="submit" value="送信" onclick="onButtonClick();">

    </form>
    
  </body>

  <script type="text/javascript">
    var url = location.href;
    var id = url.split('=');
    console.log(id[1]);
    var hiddon = document.getElementById("employee_id");
    hiddon.value = id[1];
</script>

  </html>
