<!DOCTYPE html>
<html>
 
<head>
    <meta charset="UTF-8">
    <title>TOP画面（管理者）</title>
</head>
 
<body>
    <h1 id="top">TOP画面（管理者）</h1>
    <br>
    <a id="history" href="/nippo_history_employee_select">日報履歴表示</a>
    <br>
    <a href="/employee_add">社員追加</a>
    <br>
    <a href="/employee_delete">社員削除</a>
    </div>
    
    
</body>

<script type="text/javascript">
    // タグ内にjavascriptコードを直接記述します。
    // var param = window.location.search;
    
    // var id = param.split('=')[1];

    // function OnLinkClick() {
    //         target = document.getElementById("history");
    //         target.href = "/nippo_history_employee_select";
    //         return false;
    //     }
    //console.log(id);

    // var div = document.getElementById("div");
    // var hisotry = document.createElement("a");
    // history.text = "日報履歴表示";
    // hisotry.href = "/nippo_history_employee_select?id=" + id;
    // document.body.appendChild(history);

    // document.getElementById("history").addEventListener("click", function(e){
    //     history.href = "/nippo_history_employee_select?id=";
    // }, false);

    // var history = document.getElementById("history");
    // console.log(history);
    // history.addEventListener("click", function(e){
    //     console.log("oko");
    // }, false);

    

    // var history = document.getElementById("history");
    // //var hisotry = document.createElement("a");
    // history.addEventListener('click', function(){

    // }, false);
    // history.href = "/nippo_history_employee_select?id=" + id;
    //console.log(hisotry.href);
    //top.appendChild(history) ;
    //history.href = "/nippo_history_employee_select?id=" + id;

</script>
 
</html>　